<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" 
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" 
    crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <title>Car Management Dashboard</title>
</head>
<body>
    
    <!-- Wrapper -->

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="navbar-brand"></div>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="#">
                        <div class="icon">
                            <i class="fas fa-dashboard"></i>
                        </div>
                        Dashboard
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <div class="icon">
                            <i class="fas fa-bus"></i>
                        </div>
                        Cars
                    </a>
                </li>
            </ul>
        </nav>
        
        <!-- Plain Part -->

        <div id="plain">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <div class="navbar-brand logo"></div>
                </div>
            </nav>

            <div class="container">
                <div class="caption">
                    <h6>CARS</h6>
                    <p>List Cars</p>
                </div>
            </div>
            
            <div class="list-cars"></div>
        </div>

        <!-- End Plain Part -->
    
        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <button type="button" id="sidebarCollapse" class="btn btn-light">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="form-inline my-2 my-lg-0 ml-auto">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        <form class="form-inline ml-3">
                            <div class="profile-user">
                                <img src="/assets/img/user_profile.png" alt="">
                                <a href="#"> Sanlokaja </a>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>

            <!-- Parts Section -->
            <section class="parts-section">
                <div class="container">
                    <p><strong>Cars <i class="fa-solid fa-angle-right"></i> </strong> <span class="directory">List Car</span></p>
                    <h5>List Car</h5>
                    <a href="/add-car" class="btn"> <i class="fa-solid fa-plus"></i> Add New Car</a>
                </div>
            </section>
            <!-- End Parts Section-->

            <!-- Choose Size Car -->
            <section class="choose-size">
                <div class="container">
                    <a href="#" class="btn active"> All </a>
                    <a href="#" class="btn size"> Small </a>
                    <a href="#" class="btn size"> Medium </a>
                    <a href="#" class="btn size"> Large </a>
                </div>
            </section>
            <!-- End Choose Size Car-->

            <!-- Cards -->
            <section class="display-all-cars">
                <div class="container">
                    <div class="row">
                        <% cars.map((car) => { %>
                        <div class="col-12 col-lg-4 mt-4">
                            <div class="card">
                                <img src="<%= car.image %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title"><%= car.name %></h6>
                                    <p class="card-text">Rp. <%= car.price %> ,00- / hari</p>
                                    <p class="text-muted"><%= car.createdAt %></p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button value="<%= car.id %>" data-toggle="modal" data-target="#exampleDeletedCar" data-id="<%= car.id %>" class="btn deleteButton">
                                                <div class="icon_button">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </div>
                                                Delete
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/update-car/<%= car.id %>" class="btn">
                                                <div class="icon_button">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </div>
                                                Edit
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %> 

                        <!-- Modal -->
                        <form id="formDelete" action="http://localhost:2000/delete-car/" method="post">
                            <div class="modal fade" id="exampleDeletedCar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                        <div class="image_deleted_car">
                                            <img src="/assets/img/img-BeepBeep.png" alt="">
                                        </div>
                                        <h5>Menghapus Data Mobil</h5>
                                        <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn accept-button">
                                                Ya
                                            </button>
                                            <button type="button" class="btn dismiss-button" data-dismiss="modal">Tidak</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- End Modal-->

                    </div>
                </div>
            </section>
            <!-- End Cards-->
        </div>
    </div>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- Custom JS
    <script src="/assets/js/sidebar.js"></script>  -->

    <script>
        const deleteButton = document.getElementsByClassName("deleteButton");
        const form = document.getElementById("formDelete");
        console.log(deleteButton);
        Array.from(deleteButton).forEach(btn => {
            btn.addEventListener("click", function(){
                console.log(btn.value);
                form.action = form.action + btn.value;
                console.log(form.action);
            })
        })
    </script>
</body>
</html>